---
import type { SanityImageFragment } from "sanity/generated/graphql";
import { getSanityImageProps } from "@lib/sanity/images";

interface Props {
  imageData: SanityImageFragment | null | undefined;
  layout?: "width" | "height" | "cover" | "contain";
  sizes?: [number, number, number];
  loading?: "lazy" | "eager";
  mediaId?: string | null;
}

const {
  imageData,
  layout = "width",
  sizes = [100, 100, 100],
  loading = "lazy",
  mediaId,
}: Props = Astro.props;

const altText = imageData?.asset?.altText ?? "";
const blurhashSrc = imageData?.asset?.metadata?.lqip;
const sanityImageProps = imageData ? getSanityImageProps({ sanityImage: imageData, sizes }) : [];
---

<div class={`sanity-image layout-${layout}`}>
  <img class="blurhash" src={blurhashSrc} alt="" loading="eager" />

  <img
    class={`image layout-${layout}`}
    data-media-id={mediaId}
    {...sanityImageProps}
    alt={altText}
    loading={loading}
    onload="this.dataset.loaded = ''"
  />
</div>

<style>
  .sanity-image {
    position: relative;
    overflow: hidden;
  }

  .blurhash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image {
    position: relative;
    opacity: 0;
    transition: opacity var(--transition-media-load);
  }

  .image[data-loaded]:not([data-loaded="false"]) {
    opacity: var(--media-opacity, 1);
  }

  .layout-width {
    width: 100%;
  }

  .layout-height {
    height: 100%;
  }

  .layout-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .layout-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
