---
import { shopifyClient } from "shopify/client";
import { localizationsQuery } from "shopify/queries/localization";
import { LOCALE_CONFIG, getLocaleFromPath } from "../lib/shopify/locale";

const currentLocale = getLocaleFromPath(Astro.url.pathname);

const { localization } = await shopifyClient.request(localizationsQuery);
const availableCountries = localization.availableCountries;

const localeOptions = Object.entries(LOCALE_CONFIG)
  .filter(([_, config]) =>
    availableCountries.some(
      (country) =>
        country.isoCode === config.country &&
        country.currency.isoCode === config.currency
    )
  )
  .map(([locale, config]) => ({
    locale,
    label: `${config.label} (${config.currency})`,
    path: config.pathPrefix,
  }));
---

<locale-selector data-current={currentLocale}>
  <select aria-label="Select market">
    {
      localeOptions.map((option) => (
        <option
          value={option.locale}
          selected={option.locale === currentLocale}
          data-path={option.path ?? ""}
        >
          {option.label}
        </option>
      ))
    }
  </select>
</locale-selector>

<script>
  import { isValidLocale } from "../lib/shopify/locale";

  const LOCALE_STORAGE_KEY = "preferred-locale";

  class LocaleSelector extends HTMLElement {
    connectedCallback() {
      const select = this.querySelector("select") as HTMLSelectElement;

      const storedLocale = localStorage.getItem(LOCALE_STORAGE_KEY);
      if (storedLocale && isValidLocale(storedLocale)) {
        select.value = storedLocale;
      }

      select.addEventListener("change", (e) => {
        const target = e.target as HTMLSelectElement;
        const newLocale = target.value;

        localStorage.setItem(LOCALE_STORAGE_KEY, newLocale);
        window.location.reload();
      });
    }
  }

  customElements.define("locale-selector", LocaleSelector);
</script>
