---
import PortableText from "@fields/PortableText.astro";
import Accordion from "@layouts/Accordion.astro";
import type { ProductShopifySanity } from "@lib/fetches/productShopifySanity";
import ProductGallery from "@sections/product/ProductGallery.astro";
import ProductPurchase from "@sections/product/ProductPurchase.astro";

interface Props {
  productData: ProductShopifySanity;
}

const { productData }: Props = Astro.props;
---

<section data-product-root data-prices={JSON.stringify(productData.pricesPerLocale)}>
  <ProductGallery productData={productData} />
  <div class="product-purchase">
    <ProductPurchase productData={productData} />

    <div class="accordions">
      {
        productData.sanity.accordions?.map((accordion) => {
          if (!accordion) return null;
          return (
            <Accordion group="product">
              <h2 slot="summary">{accordion.summary}</h2>
              <div class="content" slot="content">
                <PortableText value={accordion.contentRaw} />
              </div>
            </Accordion>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  section {
    width: var(--container-width);
    margin: 0 auto;
    margin-top: var(--s200);

    display: grid;
    gap: var(--gutter);
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  @media (max-width: 500px) {
    section {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .product-purchase {
    position: sticky;
    top: var(--s200);

    height: calc(100svh - var(--s200));
    padding-left: calc(var(--column) + var(--gutter));

    display: flex;
    flex-direction: column;
    row-gap: var(--s80);
  }
  @media (max-width: 500px) {
    .product-purchase {
      position: static;
      height: auto;
      padding-left: 0;
    }
  }

  .accordions {
    margin-top: auto;
    padding-bottom: var(--s40);
  }
</style>
